@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  padding-left: 20%;
  padding-right: 20%;
  background-color: steelblue;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{text-align: center}

@font-face {
  font-family: 'Digi';
  src: url('src/assets/DS-DIGI.ttf')  format('truetype');
  font-weight: bold;
}
