<h1>{{title}}</h1>

<app-combofilter (updateCardsOutput)="updateCards($event)"></app-combofilter>

<ng-container *ngFor="let card of combocards">
  <app-combocard [card] = card></app-combocard>
</ng-container>


<router-outlet></router-outlet>
