<mat-card class="combocard-main">
  <mat-card-title>
    <a>{{track}} - {{vehicule}}</a>
  </mat-card-title>

  <mat-card-content class="mat-card-content">
    <div id="pr">{{pr}}</div>

    <mat-card id="myTier">
      <div id="myTierText">{{myTier}}</div>
    </mat-card>
  </mat-card-content>
</mat-card>


<mat-expansion-panel class="mat-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Compare and Gaps
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p>Mon nouveau composant ici</p>
</mat-expansion-panel>
