:host {
  margin: 0 12px;
}

.combocard-main {
  height: 150px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  max-width: 800px;
  margin: 0 auto;
  background-color: lavender;
}

.mat-card{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.mat-card-content{
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-family: Digi;
  font-weight: bold;
  font-size: 24px;
  background-color: lavender;
}

#myTier {
  display: flex;
  width: 64px;
  height: 64px;
  margin: auto auto;
  background-color: lavender;
}

#myTierText {
  margin: auto auto;
  font-size: 24px;
  background-color: lavender;
}

#pr {
  font-size: 58px;
  margin: auto auto;
  background-color: lavender;
}

.mat-expansion-panel {
  background-color: lavender;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  max-width: 832px;
  margin: 0 auto;
}
