:host {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap; A voir pour du responsive si on bascule sur 2 lignes */
}

.filtering-list {
  width: 50%;
  max-width: 440px;
  margin: 0 auto;
}
