<app-user-list (userIdChoosed)="defineUser($event)" class="filtering-list"></app-user-list>
<app-track-list userIdChoosed = {{updateCardsDTO.userId}} (trackIdChoosed)="defineTrack($event)" class="filtering-list"></app-track-list>
